@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

html,
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /*height: 100vh;
    width: 100vw;*/
    font-size: 100%;
    color: #000;
    font-family: 'Barlow', sans-serif;
    background-image: url("../img/screen.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mock up image */
.mockup {
    width: 200px;
    height: auto;
}

/* header */
header {
    flex: 0 1 auto;
    text-align: center;
    padding: 10px 10px;
}

/* footer */
footer {
    flex: 0 1 auto;
    align-self: center;
}

footer p {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

/* main */
main {
    justify-content: center;
    text-align: center;
}

/* form */
form {
    order: 1;
    flex: 0 1 auto;
    /*border-radius: 50px;
    border: 2px solid #fff;*/
    padding: 10px 10px;
    font-family: 'Barlow', sans-serif;
}

input {
    font-family: 'Barlow', sans-serif;
}

input[type=text]:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 2px solid #DDDDDD;
}

.form-control {
    width: 100%;
    padding: 5px 6px 4px 5px;
    /* line-height: 3em; */
}

.form-control input {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff !important;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
}

/* submit button */
.submit-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 2px solid #fff;
    padding: 0 15px;
    margin: 6px 8px;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*button[value="submit"] {
    display: block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: rgb(255, 189, 66);
    font-weight: 700;
    width: 90%;
}*/

button[type="submit"]:hover {
    background-color: #83c234;
    color: #fff;
}

/* field placeholder */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    font-family: 'Barlow', sans-serif;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

/******************  RESPONSIVENESS *********************/
@media screen and (max-width: 400px) {
    .mockup {
        width: 180px;
        height: auto;
    }
}